@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");

/* ------ set clean elements styling by removing default margins and paddings ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f4e9;
  display: flex;
  flex-flow: column; /* --- credits #7 --- */
  height: 100%;
  min-height: 100vh;
}

/* ----- general site wide code ----- */

.internal-links {
  text-decoration: none;
  color: #00da74;
}

.page-height-filler {
  /* --- credits #7 --- */
  flex: 1;
  display: flex;
}

/* ----- navbar ----- */

.nav-container {
  background-color: #00da74;
  position: sticky;
  top: 0px;
  z-index: 5;
}

#logo {
  color: #f5f4e9;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 60px;
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.logo-nav {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline-flex;
}

.nav-link {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
  color: #f5f4e9;
}

.nav-link:hover {
  border-bottom: 3px solid #f5f4e9;
}

.nav-contact {
  color: #f5f4e9;
  background-color: #1b233d;
  padding: 0.6rem;
  border-radius: 8px;
}

.nav-contact:hover {
  border-bottom: none;
  background-color: #1b233dcc;
}

.active-page {
  border-bottom: 3px solid #f5f4e9;
}

/* ----- hamburger button menu ----- */

.hamburger {
  background-color: transparent;
  display: none;
  color: #1b233d;
  font-size: 2.2rem;
  cursor: pointer;
  width: 30px;
  margin: 0;
  border: #1b233d 2px solid;
  border-radius: 0;
}

.hamburger:focus {
  outline: none;
}

/* ----- main frontpage ----- */

.main-container-frontpage {
  color: #1b233d;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main-one main-two"
    "main-three main-four";
  column-gap: 4rem;
  row-gap: 2rem;
}

/* ---- part one of the frontpage ----- */

.frontpage-part-one h1 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.frontpage-part-one p {
  font-size: 2rem;
  padding: 0 11rem;
  text-align: justify;
}

/* ---- part two & three of the frontpage ----- */

.dog-01,
.cat-01 {
  min-height: 180px;
  max-height: 360px;
  min-width: 235px;
  max-width: 470px;
  object-fit: contain; /* --- credits #1 --- */
  border-radius: 10px;
}

.frontpage-part-two,
.frontpage-part-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- part four of the frontpage ----- */

.frontpage-part-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

.frontpage-four-left h2,
.frontpage-four-right h2 {
  text-align: center;
  font-size: 2.7rem;
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;
}

.frontpage-four-left p,
.frontpage-four-right p {
  font-size: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.frontpage-four-left,
.frontpage-four-right {
  border: 2px #1b233d solid;
  border-radius: 10px;
}

/* ----- section of frontpage ----- */

.section-container-frontpage {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.why-adopt-video {
  display: flex;
  align-content: center;
  justify-content: center;
}

iframe {
  border: 0;
}

/* ----- main adoption page ----- */

.main-container-adopt {
  color: #1b233d;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pet-circle-container {
  /* --- credits #5 --- */
  background-color: #00da74;
  width: 225px;
  height: 225px;
  padding: 6px;
  border: #1b233d 2px solid;
  border-radius: 50%;
  margin: 0 auto 50px auto;
}

#dog-circle-img {
  /* --- credits #5 --- */
  background: url(../../assets/img/dog-02.jpg) no-repeat center center; /* --- credits #9 --- */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

#cat-circle-img {
  /* --- credits #5 --- */
  background: url(../../assets/img/cat-02.jpg) no-repeat center center; /* --- credits #10 --- */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

#all-circle-img {
  /* --- credits #5 --- */
  background: url(../../assets/img/dog-and-cat.jpg) no-repeat center center; /* --- credits #11 --- */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

.adoption-card {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: #1b233d 3px solid;
  box-shadow: 2px 3px 0px 0px #1b233dd2;
  transition: 0.4s ease;
  cursor: pointer;
}

.adoption-card h2,
p {
  text-align: center;
}

.adoption-card h2 {
  margin-bottom: 8px;
  padding-top: 10px;
}

.adoption-card p {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

.adoption-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
}

.adoption-card:hover {
  transform: translate(-5px, -15px);
  /* --- credits #6 --- */
  box-shadow: 1px 1px 0px 0px #1b233dd2;
}

.card-links {
  text-decoration: none;
  color: #1b233d;
}

/* ----- pet galleries pages----- */

.main-container-pet-gallery {
  color: #1b233d;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.pet-cards {
  background-color: #00da74;
  width: 300px;
  height: 260px;
  margin: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.pet-cards-img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  padding-bottom: 8px;
  border-radius: 5px 5px 0px 0px;
}

.pet-cards h4 {
  padding-bottom: 8px;
  font-size: 1.6rem;
}

.pet-cards p {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 500;
}

/* ----- main let go page ----- */

.main-container-let-go {
  color: #1b233d;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.main-container-let-go::after {
  /* --- credits #3 --- */
  content: "";
  background-image: url("../img/let-go.jpg"); /* --- credits #12 --- */
  margin-left: 5%;
  margin-right: 5%;
  background-position: center center;
  background-size: cover;
  background-position-x: 0%; /* --- credits #2 --- */
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.let-go-page-part-one {
  max-width: 800px;
  color: #1b233d;
  background-color: #f5f4e9b4;
  border: #1b233d 2px solid;
  border-radius: 10px;
  margin-right: 150px;
}

.let-go-page-part-one h1 {
  font-size: 6rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.let-go-page-part-one p {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 500;
  padding: 0 10px 30px 10px;
}

/* ----- main about us page ----- */

.main-container-about {
  color: #1b233d;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.main-container-about::after {
  /* --- credits #3 --- */
  content: "";
  background-image: url("../img/about-background.jpg"); /* --- credits #13 --- */
  margin-left: 5%;
  margin-right: 5%;
  background-position: center center;
  background-size: cover;
  background-position-x: 80%; /* --- credits #2 --- */
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-page-part-one {
  max-width: 800px;
  color: #1b233d;
  background-color: #f5f4e9b4;
  border: #1b233d 2px solid;
  border-radius: 10px;
  margin-left: 150px;
}

.about-page-part-one h1 {
  font-size: 6rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.about-page-part-one p {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 500;
  padding: 0 10px 30px 10px;
}

/* ----- main contact form page ----- */

.main-container-contact {
  color: #1b233d;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  background-color: #00da74;
  border: 2px #1b233d solid;
  border-radius: 10px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container h1 {
  margin-bottom: 20px;
}

form label,
form input,
form select,
form textarea,
button {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

form label {
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px #1b233d solid;
}

form input,
form select {
  height: 30px;
}

button {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  color: #f5f4e9;
  background-color: #1b233d;
}

.input-field::placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
  opacity: 1;
}

.input-field:-ms-input-placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
}

.input-field::-ms-input-placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
}

/* ----- footer ----- */

footer {
  background-color: #1b233d;
}

.footer-container {
  width: 90%;
  margin: auto;
  min-height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.footer-middle-content {
  display: flex;
  flex-direction: column;
}

.footer-left-header,
.footer-middle-header,
.footer-right-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: #00da74;
  text-transform: uppercase;
}

.footer-left-content {
  white-space: pre-line;
  color: #f5f4e9;
  line-height: 2.3rem;
}

.footer-middle-content a {
  text-decoration: none;
  list-style: none;
  color: #f5f4e9;
  line-height: 2.3rem;
}

.footer-middle-content a:hover {
  color: #f5f4e980;
}

.footer-right-header {
  text-align: center;
}

.footer-right-content i {
  color: #f5f4e9;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  padding-left: 8px;
  padding-bottom: 15px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.footer-right-content i:hover {
  color: #f5f4e980;
  cursor: pointer;
}

#phone-icon {
  padding: 0 4px 0 0;
  font-size: 16px;
}

.footer-disclaimer {
  color: #00da74;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0px 15px 0px;
}

/* ----- modal popup test ----- */

#nav-blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#main-blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#section-blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#footer-blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 240px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup i:hover {
  color: #00763f;
  cursor: pointer;
}

#popup i {
  color: #00da74;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  padding-left: 8px;
  padding-bottom: 15px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#popup h2 {
  color: #1b233d;
  padding-bottom: 10px;
  align-self: flex-start;
}

#popup p {
  color: #1b233d;
  align-self: flex-start;
  text-align: left;
}

/* ----- media queries ----- */

/* ----- general site wide media queries ----- */

@media (max-width: 876px) {
  nav {
    width: 96%;
  }
  .footer-container {
    width: 96%;
  }
}

@media (max-width: 530px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-left {
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 25px;
  }
  .footer-middle {
    padding-left: 15px;
    padding-right: 30px;
    margin-bottom: 25px;
  }
  .footer-right {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 405px) {
  .footer-left {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
  .footer-middle {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
}

/* --- homepage --- */
@media (max-width: 1875px) {
  .frontpage-part-one h1 {
    font-size: 3.5rem;
  }
  .frontpage-part-one p {
    font-size: 1.9rem;
  }
  .frontpage-part-four p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1654px) {
  .frontpage-part-one h1 {
    font-size: 3.3rem;
  }
  .frontpage-part-one p {
    font-size: 1.8rem;
  }
  .frontpage-part-four p {
    font-size: 1.7rem;
  }
  .frontpage-part-four h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1509px) {
  .frontpage-part-one h1 {
    font-size: 3rem;
  }
  .frontpage-part-one p {
    font-size: 1.7rem;
    padding: 0px 6rem;
  }
  .frontpage-part-four p {
    font-size: 1.6rem;
  }
  .frontpage-part-four h2 {
    font-size: 2.3rem;
  }
  .frontpage-part-four {
    column-gap: 2rem;
  }
  .main-container-frontpage {
    column-gap: 0;
  }
  .dog-01,
  .cat-01 {
    max-height: 324px;
    max-width: 423px;
  }
}

@media (max-width: 1330px) {
  .frontpage-part-four p {
    font-size: 1.5rem;
  }
  .frontpage-part-four h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1270px) {
  .frontpage-part-one h1 {
    font-size: 2.6rem;
  }
  .frontpage-part-one p {
    font-size: 1.6rem;
    padding: 0px 3rem;
  }
  .frontpage-part-four p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1097px) {
  .frontpage-part-one h1 {
    font-size: 2.4rem;
  }
  .frontpage-part-one p {
    font-size: 1.5rem;
    padding: 0px 1rem;
  }
  .frontpage-part-four p {
    font-size: 1.2rem;
  }
  .dog-01,
  .cat-01 {
    max-height: 288px;
    max-width: 376px;
  }
}

@media (max-width: 977px) {
  .main-container-frontpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 4rem;
  }
  .frontpage-part-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .frontpage-part-one h1 {
    font-size: 4rem;
    padding-bottom: 15px;
  }
  .frontpage-part-one p {
    font-size: 1.9rem;
    padding: 0px 6rem;
  }
  .frontpage-part-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .frontpage-part-three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .frontpage-part-four {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .frontpage-part-four p {
    font-size: 1.7rem;
  }
  .frontpage-part-four h2 {
    font-size: 2.6rem;
  }
}

@media (max-width: 876px) {
  .frontpage-part-one h1 {
    font-size: 3.4rem;
    padding-bottom: 15px;
  }
  .frontpage-part-one p {
    font-size: 1.8rem;
    padding: 0px 2rem;
  }
  .frontpage-part-four p {
    font-size: 1.5rem;
  }
  .frontpage-part-four h2 {
    font-size: 2.4rem;
  }
  .dog-01,
  .cat-01 {
    max-height: 252px;
    max-width: 329px;
  }
  .main-container-frontpage {
    width: 96%;
  }
  .section-container-frontpage {
    margin-top: 0px;
    width: 96%;
  }
  .why-adopt-video iframe {
    width: 624px;
    height: 352px;
  }
}

@media (max-width: 831px) {
  .frontpage-part-one h1 {
    font-size: 3.2rem;
    padding-bottom: 12px;
  }
  .frontpage-part-one p {
    font-size: 1.7rem;
    padding: 0px 1.5rem;
  }
  .frontpage-part-four p {
    font-size: 1.4rem;
  }
  .frontpage-part-four h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 687px) {
  .main-container-frontpage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .frontpage-part-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
  }
  .frontpage-part-one h1 {
    font-size: 3.2rem;
    padding-bottom: 12px;
  }
  .frontpage-part-one p {
    font-size: 1.8rem;
    padding: 0px 2rem;
  }
  .frontpage-part-one {
    order: 1;
  }
  .frontpage-part-two {
    order: 2;
  }
  .frontpage-part-three {
    order: 4;
  }
  .dog-01,
  .cat-01 {
    min-width: 300px;
    max-width: 460px;
    min-height: 340px;
  }
  .frontpage-four-left {
    min-width: 240px;
    max-width: 94%;
    min-height: 240px;
    order: 3;
  }
  .frontpage-four-right {
    min-width: 240px;
    max-width: 94%;
    min-height: 240px;
    margin-top: 25px;
    order: 5;
  }
  .frontpage-part-four p {
    font-size: 2.2rem;
    padding-bottom: 10px;
  }
  .frontpage-part-four h2 {
    font-size: 3.4rem;
    padding-bottom: 5px;
  }
  .why-adopt-video iframe {
    width: 499px;
    height: 285px;
  }
}

@media (max-width: 480px) {
  .main-container-frontpage {
    margin-top: 20px;
  }
  .frontpage-part-one h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  .frontpage-part-one p {
    font-size: 1.6rem;
    padding: 0px 0.5rem;
    text-align: center;
  }
  .dog-01,
  .cat-01 {
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
  }
  .frontpage-four-left {
    min-width: 200px;
    max-width: 94%;
    min-height: 260px;
    order: 3;
  }
  .frontpage-four-right {
    min-width: 200px;
    max-width: 94%;
    min-height: 260px;
    margin-top: 25px;
    order: 5;
  }
  .frontpage-part-four p {
    font-size: 1.8rem;
    padding: 0px 10px 10px;
  }
  .frontpage-part-four h2 {
    font-size: 2.5rem;
    padding-bottom: 5px;
  }
  .why-adopt-video iframe {
    width: 344px;
    height: 225px;
  }
}

@media (max-width: 405px) {
  .dog-01,
  .cat-01 {
    min-width: 260px;
    max-width: 376px;
    min-height: 260px;
  }
  .frontpage-part-four p {
    font-size: 1.7rem;
    padding: 0px 10px 10px;
  }
  .frontpage-part-four h2 {
    font-size: 2.5rem;
    padding-bottom: 5px;
  }
}

@media (max-width: 359px) {
  .main-container-frontpage {
    margin-top: 15px;
  }
  .frontpage-part-one h1 {
    font-size: 1.8rem;
    padding-bottom: 6px;
  }
  .frontpage-part-one p {
    font-size: 1.3rem;
    padding: 0px 0.3rem;
    text-align: center;
  }
  .dog-01,
  .cat-01 {
    min-width: 200px;
    max-width: 320px;
    min-height: 240px;
  }
  .frontpage-four-left {
    min-width: 180px;
    min-height: 200px;
  }
  .frontpage-four-right {
    min-width: 180px;
    min-height: 200px;
  }
  .frontpage-part-four p {
    font-size: 1.6rem;
    padding: 0px 10px 10px;
  }
  .frontpage-part-four h2 {
    font-size: 2.4rem;
    padding-bottom: 5px;
  }
  .why-adopt-video iframe {
    width: 300px;
    height: 220px;
  }
}

@media (max-width: 330px) {
  .main-container-frontpage {
    row-gap: 2rem;
  }
  .dog-01,
  .cat-01 {
    min-width: 180px;
    max-width: 260px;
    min-height: 200px;
  }
  .frontpage-four-left {
    min-width: 180px;
    min-height: 200px;
  }
  .frontpage-four-right {
    min-width: 180px;
    min-height: 200px;
  }
  .frontpage-part-four p {
    font-size: 1.4rem;
    padding: 0px 10px 10px;
  }
  .frontpage-part-four h2 {
    font-size: 2.2rem;
    padding-bottom: 5px;
  }
  .why-adopt-video iframe {
    width: 260px;
    height: 200px;
  }
}

/* --- adopt page --- */

@media (max-width: 480px) {
  .main-container-adopt {
    width: 96%;
  }
  .pet-circle-container {
    margin-bottom: 25px;
  }
  .adoption-card {
    width: 360px;
    height: 270px;
  }
  .adoption-card h2 {
    margin-bottom: 4px;
    padding-top: 5px;
    font-size: 2.2rem;
  }
  .adoption-card p {
    font-size: 1.4rem;
  }
  .adoption-info {
    padding: 25px 10px;
  }
}

@media (max-width: 405px) {
  .adoption-card {
    width: 300px;
    height: 240px;
  }
  .adoption-card h2 {
    margin-bottom: 2px;
    padding-top: 3px;
    font-size: 1.8rem;
  }
  .adoption-card p {
    font-size: 1.2rem;
  }
  .adoption-info {
    padding: 15px 6px;
  }
}

@media (max-width: 330px) {
  .adoption-card {
    width: 260px;
    height: 220px;
  }
  .adoption-card h2 {
    margin-bottom: 2px;
    padding-top: 3px;
    font-size: 1.6rem;
  }
  .adoption-card p {
    font-size: 1.1rem;
  }
  .adoption-info {
    padding: 10px 4px;
  }
}

/* --- pet gallery pages --- */

@media (max-width: 890px) {
  .pet-cards {
    width: 280px;
    height: 260px;
    margin: 25px;
  }
  .pet-cards h4 {
    padding-bottom: 4px;
    font-size: 1.5rem;
  }
  .pet-cards p {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.3rem;
  }
}

@media (max-width: 732px) {
  .main-container-pet-gallery {
    color: #1b233d;
    width: 96%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 325px) {
  .pet-cards {
    margin: 20px 10px;
  }
  .pet-cards h4 {
    padding-bottom: 2px;
  }
  .pet-cards p {
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* --- let go page --- */

@media (max-width: 1200px) {
  .let-go-page-part-one {
    margin-right: 0px;
  }
  .main-container-let-go {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .let-go-page-part-one {
    max-width: 80%;
  }
  .let-go-page-part-one h1 {
    font-size: 4rem;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .let-go-page-part-one p {
    font-size: 1.8rem;
    padding: 0 10px 10px 10px;
  }
}

@media (max-width: 876px) {
  .let-go-page-part-one {
    max-height: 80%;
  }
  .let-go-page-part-one h1 {
    font-size: 3.2rem;
    padding-bottom: 8px;
  }
  .let-go-page-part-one p {
    font-size: 1.5rem;
  }
}

@media (max-width: 730px) {
  .let-go-page-part-one h1 {
    font-size: 2.8rem;
    padding-bottom: 6px;
  }
  .let-go-page-part-one p {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .let-go-page-part-one h1 {
    font-size: 2.6rem;
    padding-bottom: 4px;
  }
  .let-go-page-part-one p {
    font-size: 1.3rem;
  }
}

@media (max-width: 554px) {
  .let-go-page-part-one {
    max-width: 90%;
  }
  .let-go-page-part-one h1 {
    font-size: 2.2rem;
    padding-bottom: 3px;
  }
  .let-go-page-part-one p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .let-go-page-part-one {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 427px) {
  .let-go-page-part-one {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .let-go-page-part-one h1 {
    font-size: 2rem;
    padding-bottom: 2px;
  }
  .let-go-page-part-one p {
    font-size: 1.1rem;
  }
}

@media (max-width: 340px) {
  .let-go-page-part-one h1 {
    font-size: 1.8rem;
  }
  .let-go-page-part-one p {
    font-size: 1rem;
  }
}

/* --- let go page --- */

@media (max-width: 1200px) {
  .about-page-part-one {
    margin-left: 0px;
  }
  .main-container-about {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .about-page-part-one {
    max-width: 80%;
  }
  .about-page-part-one h1 {
    font-size: 4rem;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .about-page-part-one p {
    font-size: 1.8rem;
    padding: 0 10px 10px 10px;
  }
}

@media (max-width: 876px) {
  .about-page-part-onee {
    max-height: 80%;
  }
  .about-page-part-one h1 {
    font-size: 3.2rem;
    padding-bottom: 8px;
  }
  .about-page-part-one p {
    font-size: 1.5rem;
  }
}

@media (max-width: 730px) {
  .about-page-part-one h1 {
    font-size: 2.8rem;
    padding-bottom: 6px;
  }
  .about-page-part-one p {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .about-page-part-one h1 {
    font-size: 2.6rem;
    padding-bottom: 4px;
  }
  .about-page-part-one p {
    font-size: 1.3rem;
  }
}

@media (max-width: 554px) {
  .about-page-part-one {
    max-width: 90%;
  }
  .about-page-part-one h1 {
    font-size: 2.2rem;
    padding-bottom: 3px;
  }
  .about-page-part-one p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .about-page-part-one {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 427px) {
  .about-page-part-one {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-page-part-one h1 {
    font-size: 2rem;
    padding-bottom: 2px;
  }
  .about-page-part-one p {
    font-size: 1.1rem;
  }
}

@media (max-width: 340px) {
  .about-page-part-one h1 {
    font-size: 1.8rem;
  }
  .about-page-part-one p {
    font-size: 1rem;
  }
}

/* --- contact page --- */

@media (max-width: 876px) {
  .main-container-contact {
    color: #1b233d;
    width: 96%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-form-container {
    width: 100%;
  }
}

@media (max-width: 687px) {
  .contact-form-container {
    height: 560px;
  }
  form textarea {
    height: 140px;
  }
}

@media (max-width: 480px) {
  form input,
  form select,
  form textarea {
    margin-bottom: 8px;
    width: 90%;
  }
  form textarea {
    height: 120px;
  }
}

/* ----- navbar hamburger menu ----- */

@media (max-width: 767px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .nav-links li {
    min-width: 120px;
    border-bottom: #f5f4e9 2px solid;
  }

  .nav-links.show {
    /* --- credits #8 --- */
    display: flex;
  }

  .nav-contact {
    color: #f5f4e9;
    background-color: #1b233d;
    border-radius: 0;
  }

  .nav-link {
    display: block;
    padding: 10px;
    text-align: right;
    background-color: #1b233d;
    margin: 0;
  }

  .nav-link:hover {
    border-bottom: none;
    background-color: #f5f4e9;
    color: #1b233d;
  }

  .nav-contact:hover {
    border-bottom: none;
    background-color: #f5f4e9;
    color: #1b233d;
    border-radius: 0;
  }

  .hamburger {
    display: block;
  }

  .active-page {
    border-bottom: none;
  }
}

/* ----- pop-up media queries ----- */

@media (max-width: 370px) {
  #popup {
    width: 330px;
    height: 240px;
    padding: 10px;
  }
}

@media (max-width: 340px) {
  #popup {
    width: 260px;
    height: 240px;
    padding: 10px;
  }
}
