@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");

/* ------ set clean elements styling by removing default margins and paddings ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: rgb(245, 244, 233);
}

/* ----- navbar ----- */

.nav-container {
  background-color: rgb(0, 218, 116);
}

#logo {
  color: rgb(245, 244, 233);
}

nav {
  width: 90%;
  margin: auto;
  min-height: 60px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.logo-nav {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline-flex;
}

.nav-link {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
  color: rgb(245, 244, 233);
}

.nav-link:hover {
  border-bottom: 3px solid rgb(245, 244, 233);
}

.active {
  border-bottom: 3px solid rgb(245, 244, 233);
}

.nav-contact {
  color: rgb(245, 244, 233);
  background-color: rgb(27, 35, 61);
  padding: 0.6rem;
  border-radius: 8px;
}

.nav-contact:hover {
  border-bottom: none;
  background-color: rgba(27, 35, 61, 0.8);
}

/* ----- main frontpage ----- */

.main-container-frontpage {
  color: rgb(27, 35, 61);
  width: 90%;
  margin: auto;
  min-height: 75vh;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main-one main-two"
    "main-three main-four";
  column-gap: 4rem;
  row-gap: 2rem;
}

/* ---- part one of the frontpage ----- */

.frontpage-part-one {
  background-color: aqua;
}

.frontpage-part-one h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.frontpage-part-one p {
  padding: 0 5rem;
  text-align: center;
}

/* ---- part two & three of the frontpage ----- */

.frontpage-part-two {
  background-color: greenyellow;
}

.frontpage-part-three {
  background-color: magenta;
}

/* ---- credits #1 - youtube channel: dcode ---- */
.dog-01,
.cat-01 {
  min-height: 180px;
  max-height: 360px;
  min-width: 235px;
  max-width: 470px;
  object-fit: contain;
  border-radius: 10px;
}

.frontpage-part-two,
.frontpage-part-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- part four of the frontpage ----- */

.frontpage-part-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  background-color: crimson;
}

.frontpage-four-left h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.frontpage-four-left p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

.frontpage-four-right h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.frontpage-four-right p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

/* ----- footer ----- */
footer {
  background-color: rgb(27, 35, 61);
}

.footer-container {
  width: 90%;
  margin: auto;
  min-height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.footer-left,
.footer-middle,
.footer-middle-content {
  display: flex;
  flex-direction: column;
}

.footer-left,
.footer-left-header,
.footer-left-content {
  text-align: left;
}

.footer-left-header,
.footer-middle-header,
.footer-right-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0, 218, 116);
  text-transform: uppercase;
}

.footer-left-content {
  white-space: pre-line;
  color: rgb(245, 244, 233);
  line-height: 2.3rem;
}

.footer-middle-content a {
  text-decoration: none;
  list-style: none;
  color: rgb(245, 244, 233);
  line-height: 2.3rem;
}

.footer-middle-content a:hover {
  color: rgba(245, 244, 233, 0.5);
}

.footer-right-header {
  text-align: center;
}

i {
  color: rgb(245, 244, 233);
  padding: 10px;
  font-size: 36px;
  text-align: center;
  padding-left: 8px;
  padding-bottom: 15px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.footer-right-content i:hover {
  color: rgba(245, 244, 233, 0.5);
}

#phone-icon {
  padding: 0 4px 0 0;
  font-size: 16px;
}

.footer-disclaimer {
  color: rgb(0, 218, 116);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0px 15px 0px;
}
