@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");

/* ------ set clean elements styling by removing default margins and paddings ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f4e9;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}

/* ----- navbar ----- */

.nav-container {
  background-color: #00da74;
}

#logo {
  color: #f5f4e9;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 60px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.logo-nav {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline-flex;
}

.nav-link {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
  color: #f5f4e9;
}

.nav-link:hover {
  border-bottom: 3px solid #f5f4e9;
}

.nav-contact {
  color: #f5f4e9;
  background-color: #1b233d;
  padding: 0.6rem;
  border-radius: 8px;
}

.nav-contact:hover {
  border-bottom: none;
  background-color: #1b233dcc;
}

.active-page {
  border-bottom: 3px solid #f5f4e9;
}

/* ----- main frontpage ----- */

.main-container-frontpage {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 75vh;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "main-one main-two"
    "main-three main-four";
  column-gap: 4rem;
  row-gap: 2rem;
}

/* ---- part one of the frontpage ----- */

.frontpage-part-one h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.frontpage-part-one p {
  font-size: 2rem;
  padding: 0 9rem;
  text-align: justify;
}

/* ---- part two & three of the frontpage ----- */

.dog-01,
.cat-01 {
  min-height: 180px;
  max-height: 360px;
  min-width: 235px;
  max-width: 470px;
  object-fit: contain; /* --- credits #1 --- */
  border-radius: 10px;
}

.frontpage-part-two,
.frontpage-part-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- part four of the frontpage ----- */

.frontpage-part-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

.frontpage-four-left h2,
.frontpage-four-right h2 {
  text-align: center;
  font-size: 2.7rem;
  padding-bottom: 1.2rem;
}

.frontpage-four-left p,
.frontpage-four-right p {
  font-size: 1.8rem;
  padding: 0 2rem;
  text-align: center;
}

/* ----- main adoption page ----- */

.main-container-adopt {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 65vh;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

#dog-circle-container {
  /* --- credits #5 (?) Love running project --- */
  background-color: #00da74;
  width: 225px;
  height: 225px;
  padding: 6px;
  border: #1b233d 2px solid;
  border-radius: 50%;
  margin: 0 auto 50px auto;
}

#dog-circle-img {
  /* --- credits #5 (?) Love running project --- */
  background: url(/assets/img/dog-02.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  size: auto;
  background-size: cover;
  margin: auto;
}

.adopt-dog-text {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: fuchsia;
}

.adopt-dog-text h2,
p {
  text-align: center;
}

.adopt-dog-text h2 {
  margin-bottom: 8px;
  padding-top: 10px;
}

.adopt-dog-text p {
  padding-left: 10px;
  padding-right: 10px;
}

#cat-circle-container {
  /* --- credits #5 (?) Love running project --- */
  background-color: #00da74;
  width: 225px;
  height: 225px;
  padding: 6px;
  border: #1b233d 2px solid;
  border-radius: 50%;
  margin: 0 auto 50px auto;
}

#cat-circle-img {
  /* --- credits #5 (?) Love running project --- */
  background: url(/assets/img/cat-02.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  size: auto;
  background-size: cover;
  margin: auto;
}

.adopt-cat-text {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: fuchsia;
}

.adopt-cat-text h2,
p {
  text-align: center;
}

.adopt-cat-text h2 {
  margin-bottom: 8px;
  padding-top: 10px;
}

.adopt-cat-text p {
  padding-left: 10px;
  padding-right: 10px;
}

#all-circle-container {
  /* --- credits #5 (?) Love running project --- */
  background-color: #00da74;
  width: 225px;
  height: 225px;
  padding: 6px;
  border: #1b233d 2px solid;
  border-radius: 50%;
  margin: 0 auto 50px auto;
}

#all-circle-img {
  /* --- credits #5 (?) Love running project --- */
  background: url(/assets/img/dog-and-cat.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  size: auto;
  background-size: cover;
  margin: auto;
}

.adopt-all-text {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: fuchsia;
}

.adopt-all-text h2,
p {
  text-align: center;
}

.adopt-all-text h2 {
  margin-bottom: 8px;
  padding-top: 10px;
}

.adopt-all-text p {
  padding-left: 10px;
  padding-right: 10px;
}

/* ----- main dog gallery page ----- */

.main-container-dog-gallery {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 65vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ----- main cat gallery page ----- */

.main-container-cat-gallery {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 65vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ----- main pet gallery page ----- */

.main-container-pet-gallery {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 65vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ----- main let go page ----- */

.main-container-let-go {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 75vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.main-container-let-go::after {
  /* --- https://css-tricks.com/snippets/css/transparent-background-images/ credits #3 --- */
  content: "";
  background-image: url("../img/let-go.jpg");
  background-position: center center;
  background-size: cover;
  background-position-x: 0%; /* --- credits #2 --- */
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.let-go-page-part-one {
  max-width: 500px;
  color: #1b233d;
  background-color: #f5f4e9b4;
  border-radius: 10px;
  margin-right: 200px;
}

.let-go-page-part-one h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.let-go-page-part-one p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  padding: 0 10px 10px 10px;
}

/* ----- main about us page ----- */

.main-container-about {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 75vh;
  position: relative;
  display: flex;
  align-items: center;
}

.main-container-about::after {
  /* --- https://css-tricks.com/snippets/css/transparent-background-images/ credits #3 --- */
  content: "";
  background-image: url("../img/about-background.jpg");
  background-position: center center;
  background-size: cover;
  background-position-x: 80%; /* --- credits #2 --- */
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.about-page-part-one {
  max-width: 500px;
  color: #1b233d;
  background-color: #f5f4e9b4;
  border-radius: 10px;
  margin-left: 200px;
}

.about-page-part-one h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.about-page-part-one p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  padding: 0 10px 10px 10px;
}

/* ----- main contact form page ----- */

#main-contact {
  /* --- credits #4(?) https://www.w3docs.com/snippets/html/how-to-make-a-div-fill-the-height-of-the-remaining-space.html */
  flex: 1;
  display: flex;
}

.main-container-contact {
  color: #1b233d;
  width: 90%;
  margin: auto;
  min-height: 65vh;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  background-color: #00da74;
  border: 2px #1b233d solid;
  border-radius: 10px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container h1 {
  margin-bottom: 20px;
}

form label,
form input,
form select,
form textarea,
button {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

form label {
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px #1b233d solid;
}

form input,
form select {
  height: 30px;
}

button {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  color: #f5f4e9;
  background-color: #1b233d;
}

.input-field::placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
  opacity: 1;
}

.input-field:-ms-input-placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
}

.input-field::-ms-input-placeholder {
  /* --- credits #4 --- */
  color: #1b233d;
}

/* ----- footer ----- */
footer {
  background-color: #1b233d;
}

.footer-container {
  width: 90%;
  margin: auto;
  min-height: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.footer-left,
.footer-middle,
.footer-middle-content {
  display: flex;
  flex-direction: column;
}

.footer-left,
.footer-left-header,
.footer-left-content {
  text-align: left;
}

.footer-left-header,
.footer-middle-header,
.footer-right-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: #00da74;
  text-transform: uppercase;
}

.footer-left-content {
  white-space: pre-line;
  color: #f5f4e9;
  line-height: 2.3rem;
}

.footer-middle-content a {
  text-decoration: none;
  list-style: none;
  color: #f5f4e9;
  line-height: 2.3rem;
}

.footer-middle-content a:hover {
  color: #f5f4e980;
}

.footer-right-header {
  text-align: center;
}

i {
  color: #f5f4e9;
  padding: 10px;
  font-size: 36px;
  text-align: center;
  padding-left: 8px;
  padding-bottom: 15px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.footer-right-content i:hover {
  color: #f5f4e980;
}

#phone-icon {
  padding: 0 4px 0 0;
  font-size: 16px;
}

.footer-disclaimer {
  color: #00da74;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  padding: 10px 0px 15px 0px;
}
